{% extends "layout.html.twig" %}
{% block titre_page %}
	Axolit - Mes annonces favorites
{% endblock %}
{% block link_css %}
	<link href="./css/favoris.css" rel="stylesheet">
{% endblock %}

{% block accueil %}
	class="btn btn-rose"
{% endblock %}
{% block vendre %}
	class="btn btn-rose "
{% endblock %}
{% block acheter %}
	class="btn btn-rose "
{% endblock %}
{% block reparer %}
	class="btn btn-rose "
{% endblock %}
{% block contenu %}


	<div class="container">
		<div class="row sous-categorie">
			<div class="col-md-9 offset-md-1">
				<br>
				<h1>
					Liste des mes favoris
				</h1>
				<br>
				<a href="{{path('favoris_annonce')}}">

					<button class="btn-rose btn active" name="bouton appareil" type="button" style="margin-bottom: 25px;">
						Appareils
					</button>
				</a>
				<a href="{{path('favoris_reparateur')}}">
					<button class="btn-rose btn btn-primary" name="bouton reparateur" type="button" style="margin-bottom: 25px;">
						Réparateur
					</button>
				</a>
				<br>
				{% for favoris_annonce in app.user.favoris %}
					<div class="card">
						<div class="card-body text-center text-md-left">
							<div class="row">
								<div class="col-md-2">
									{% if favoris_annonce.photoannonces.first != null %}
										<img src="{{ favoris_annonce.photoannonces.first }}" class="image_produit">

									{% else %}
										<img src="{{asset('./img/profil/photo_profil.jpg')}}" class="image_produit">
									{% endif %}
								</div>

								<div class="col-md-9 offset-md-1">
									<h3>
										{{favoris_annonce.titre}}
									</h3>
									<h4>
										{{favoris_annonce.prix}}
									</h4>
									<p class="text-justify text-center text-md-left">
										{{favoris_annonce.texteannonce}}
									</p>

									<a href="{{ path('produit', {'id': favoris_annonce.id} ) }}">

										<button class="btn-rose btn btn-primary" name="bouton voir produit" type="button">
											Voir le produit
										</button>
									</a>
									<a href="{{path("removeFavorisAnnonce",{'id':favoris_annonce.id})}}">
										<button class="btn-light btn" name="bouton supprimer" type="button">
											Supprimer de la liste
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
					<br>

				{% endfor %}
			</div>
			<br>
		</div>
		<nav class="pagination justify-content-center">
			{{ knp_pagination_render(favoris_annonces) }}
		</nav>
	</div>


{% endblock %}
