{% extends "layout.html.twig" %}
{% block titre_page %}
	Axolit - Mes réparateurs favoris
{% endblock %}
{% block link_css %}
	<link href="./css/favoris_reparateur.css" rel="stylesheet">
{% endblock %}

{% block accueil %}
	class="btn btn-rose"
{% endblock %}
{% block vendre %}
	class="btn btn-rose "
{% endblock %}
{% block acheter %}
	class="btn btn-rose "
{% endblock %}
{% block reparer %}
	class="btn btn-rose "
{% endblock %}
{% block contenu %}

	<div class="container">
		<div class="row sous-categorie">
			<div class="col-md-9 offset-md-1">
				<br>
				<h1>
					Liste des mes favoris
				</h1>
				<br>
				<a href="{{path('favoris_annonce')}}">

					<button class="btn-rose btn btn-primary" name="bouton appareil" type="button" style="margin-bottom: 25px;">
						Appareils
					</button>
				</a>
				<a href="{{path('favoris_reparateur')}}">

					<button class="btn-rose btn btn-primary" name="bouton reparateur" type="button" style="margin-bottom: 25px;">
						Réparateur
					</button>
				</a>
				<br>
				{% for favoris_reparateur in favoris_reparateurs %}

					<div class="card">
						<div class="card-body text-center text-md-left">
							<div class="row">
								<div class="col-md-2">
									<img src="./css/images/profil/photo_profil.jpg" class="image_profil" alt="photo de profil">
								</div>
								<div class="col-md-9 offset-md-1">
									<h3>
										Tom Nguyen
										{#{{favoris_reparateur.nom}}
																																																										{{favoris_reparateur.prenom}}#}
									</h3>
									<h6 class="card-text">
										<img src="./css/svg/icone/localisation.svg" alt="icone de localisation">
										Pessac, 33600
										{#{{favoris_reparateur.ville}}
																																																		{{favoris_reparateur.codepostal}}
																																																#}


									</h6>
									<a href="profil1.php">
										<button class="btn-rose btn btn-primary" name="bouton voir profil" type="button">
											Voir le profil
										</button>
									</a>
									<button class="btn-light btn" name="bouton supprimer" type="button">
										Supprimer de la liste
									</button>
								</div>
							</div>
						</div>
					</div>
					<br>
					
				{% endfor %}

			</div>
			
			<br>
		</div>
		
	</div>
	<br>

	<nav class="pagination justify-content-center">
		{{ knp_pagination_render(favoris_reparateurs) }}
	</nav>
{% endblock %}
