{% extends "layout.html.twig"%}
{% block titre_page %}
	Axolit - Votre compte
{% endblock %}
{% block link_css %}
	<link href="./css/informations.css" rel="stylesheet">
{% endblock %}

{% block accueil %}
	class="btn btn-rose"
{% endblock %}
{% block vendre %}
	class="btn btn-rose "
{% endblock %}
{% block acheter %}
	class="btn btn-rose "
{% endblock %}
{% block reparer %}
	class="btn btn-rose "
{% endblock %}

{% block contenu %}

	<div class="container justify-content-center bas-infos ">


		<div class="card">
			<div class="card-header">
				Informations utilisateur
			</div>
			{{ form_start(form_modif_infos) }}

			{# {{ form_row(form_modif_infos.photo_profil) }} #}
			{# {{ form_row(form_modif_infos.code_postal) }} #}
			{# {{ form_row(form_modif_infos.badges) }} #}
			{# {{ form_row(form_modif_infos.competences) }} #}


				<div class="card-body "> <h5 class="card-title text-center">
					Informations personnelles
				</h5>
				<br>
				<form>
					<div class="form-group row">
						<div class="col-form-label col-sm-6 col-md-2 offset-md-3">
							{{form_label(form_modif_infos.pseudo, 'Pseudo :')	}}
						</div>
						<div class="col-sm-6 col-md-4">
							{{form_widget(form_modif_infos.pseudo, {'attr':{'class':'form-control','value':app.user.pseudo}}

							)}}
							{{form_row(form_modif_infos.pseudo)}}
							{{form_errors(form_modif_infos.pseudo)}}
						</div>
					</div>
					<label class="form-group row">
						<label
							class="col-form-label col-sm-6 col-md-2 offset-md-3">
							{# {{form_label(form_modif_infos.civilite, 'Civilité :')	}} #}
							Civilité
						</label>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="option1" value="option1">
							<label class="form-check-label" for="inlineRadio1">
								Mme.
							</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="option2" value="option2">
							<label class="form-check-label" for="inlineRadio2">
								M.
							</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6 col-md-2 offset-md-3">
							{{form_label(form_modif_infos.nom, 'Nom :')	}}
						</div>
						<div class="col-sm-6 col-md-4">
							{{form_widget(form_modif_infos.nom, {'attr':{'class':'form-control','value':app.user.nom
							}}

							)}}
							{{form_row(form_modif_infos.nom)}}
							{{form_errors(form_modif_infos.nom)}}
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6 col-md-2 offset-md-3">
							{{form_label(form_modif_infos.prenom, 'Prenom :')	}}
						</div>
						<div class="col-sm-6 col-md-4">
							{{form_widget(form_modif_infos.prenom, {'attr':{'class':'form-control', 'value':app.user.prenom}}
							)}}
							{{form_row(form_modif_infos.prenom)}}
							{{form_errors(form_modif_infos.prenom)}}
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6 col-md-2 offset-md-3">
							{{form_label(form_modif_infos.ddn, 'Date de naissance :')}}
						</div>
						<div class="col-sm-6 col-md-4">
							{{form_widget(form_modif_infos.ddn, {'attr':{'class':'form-control', 'value':app.user.ddn}}
							)}}
							{{form_row(form_modif_infos.ddn)}}
							{{form_errors(form_modif_infos.ddn)}}
						</div>
					</div>
					<div class="form-group row">
						<label for="fichier" class="col-form-label col-sm-6 col-md-2 offset-md-3">
							Photo de profil :
						</label>
						<div class="col-sm-6 col-md-4">
							<div class="custom-file">
								<input type="file" class="custom-file-input" name="fichier" accept="image/bmp,image/gif,image/jpeg,image/png,image/x-ms-bmp">
								<label class="custom-file-label" for="customFile">
									Choisir une image
								</label>
							</div>
						</div>
					</div>
					<br>
					<h5 class="card-title text-center">
						Adresse
					</h5>
					<br>
					<div class="form-group row">
						<div class="col-sm-6 col-md-2 offset-md-3">
							{{form_label(form_modif_infos.adresse, 'Adresse :')	}}
						</div>
						<div class="col-sm-6 col-md-4">
							{{form_widget(form_modif_infos.adresse, {'attr':{'class':'form-control', 'value':app.user.adresse}}
							)}}
							{{form_row(form_modif_infos.adresse)}}
							{{form_errors(form_modif_infos.adresse)}}
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6 col-md-2 offset-md-3">
							{{form_label(form_modif_infos.codepostal, 'Code Postal :')	}}
						</div>
						<div class="form-group col-sm-6 col-md-4">
							{{form_widget(form_modif_infos.codepostal, {'attr':{'class':'form-control', 'value':app.user.codepostal}}
							)}}
							{{form_row(form_modif_infos.codepostal)}}
							{{form_errors(form_modif_infos.codepostal)}}
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6 col-md-2 offset-md-3">
							{{form_label(form_modif_infos.ville, 'Ville :')	}}
						</div>
						<div class="form-group col-sm-6 col-md-4">
							{{form_widget(form_modif_infos.ville, {'attr':{'class':'form-control', 'value':app.user.ville}}
							)}}
							{{form_row(form_modif_infos.ville)}}
							{{form_errors(form_modif_infos.ville)}}
						</div>
					</div>
					<br>
					<h5 class="card-title text-center">
						Coordonnées
					</h5>
					<br>
					<div class="form-group row">
						<div class="col-sm-6 col-md-2 offset-md-3">
							{{form_label(form_modif_infos.email, 'Email :')	}}
						</div>
						<div class="form-group col-sm-6 col-md-4">
							{{form_widget(form_modif_infos.email, {'attr':{'class':'form-control','value':app.user.email}}
							)}}
							{{form_row(form_modif_infos.email)}}
							{{form_errors(form_modif_infos.email)}}
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6 col-md-2 offset-md-3">
							{{form_label(form_modif_infos.telephone, 'Téléphone :')	}}
						</div>
						<div class="form-group col-sm-6 col-md-4">
							{{form_widget(form_modif_infos.telephone, {'attr':{'class':'form-control','value':app.user.telephone}}
							)}}
							{{form_row(form_modif_infos.telephone)}}
							{{form_errors(form_modif_infos.telephone)}}
						</div>
					</div>
					<br>
					<h5 class="card-title text-center">
						Badges
					</h5>
					<br>
					<div class="form-group row">
						<label for="checkbox" class="col-form-label col-sm-3 col-md-3 offset-md-2">
							Modifier son badge :
						</label>
						<div class="col-sm-6 col-md-4" style="text-align: left;">
							<input type="checkbox" name="checkbox1" value="1">
							<img class="badges" src="./css/svg/icone/reparer.svg" alt="badge réparateur">
							Réparateur
							<br>
							<input type="checkbox" name="checkbox2" value="2">
							<img class="badges" src="./css/svg/icone/vendre.svg" alt="badge vendeur">
							Vendeur
							<br>
						</div>
					</div>
					<br>

					<h5 class="card-title text-center">
						Compétences
					</h5>
					<br>
					<div class="form-group row">

						<label for="competence" class="col-form-label col-sm-3 col-md-3 offset-md-2">
							Compétences réparateur :
						</label>


						<div class="form-group col-md-4">
							<input type="text" class="form-control" name="competence" placeholder="Changer vitre téléphone">
							<input type="text" class="form-control" name="competence2" placeholder="Changer vitre pc">
							<input type="text" class="form-control" name="competence3" placeholder="Remplacer batterie">
							<input type="text" class="form-control" name="competence4" placeholder="Autres">
						</div>
					</div>

					<h5 class="card-title text-center">
						Mot de passe
					</h5>
					<br>
					<div class="form-group row">
						<div class="col-sm-3 col-md-3 offset-md-2">
							{{form_label(form_modif_infos.password, 'Modifier le mot de passe :')}}
						</div>
						<div class="form-group col-sm-6 col-md-4">
							{{form_widget(form_modif_infos.password, {'attr':{'class':'form-control','value':app.user.password}}
							)}}
							{{form_row(form_modif_infos.password)}}
							{{form_errors(form_modif_infos.password)}}
						</div>
					</div>

					<div class="text-center">
						<button type="button" class="btn btn-primary btn-rose" data-toggle="modal" data-target="#popup">
							Sauvegarder les modifications
						</button>
						<button type="button" class="btn btn-light" id="refresh">
							Annuler
						</button>

						<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="popupLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-body">
										Voulez-vous sauvegarder les modifications ?
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-light" data-dismiss="modal">
											Annuler
										</button>
										<button type="submit" class="btn btn-primary btn-rose">
											Sauvegarder les modifications
										</button>

									</div>

								</div>

							</div>
						</div>
						<br>
						<br>


					</div>
				</form>

			</div>

			{{ form_end(form_modif_infos) }}

		</div>
	</div>


	<script type="text/javascript" language="javascript">
		var refresh = window.getElementById('refresh');
refresh.addEventListener('click', location.reload(), false);
	</script>

{% endblock %}
