{% extends "layout.html.twig" %}
{% block titre_page %}
	Axolit - Acheter
{% endblock %}
{% block link_css %}
	<link href="{{ asset('./css/liste_produits.css') }}" rel="stylesheet">
{% endblock %}

{% block accueil %}
	class="btn btn-rose "
{% endblock %}
{% block vendre %}
	class="btn btn-rose "
{% endblock %}
{% block acheter %}
	class="btn btn-rose active"
{% endblock %}
{% block reparer %}
	class="btn btn-rose "
{% endblock %}

{% block contenu %}
	<div class="container">
		<div class="row sous-categorie">
			<div class="col-md-7 offset-md-1">
				<br>
				<h1>
					Liste des appareils à acheter
				</h1>
				{% for annonce in annonces %}
					<br>
					<div class="card">
						<div class="card-body text-center text-md-left">
							<div class="row">
								<div class="col-md-2">
									{% if annonce.photoannonces.first != null %}
										<img src="{{ annonce.photoannonces.first }}" class="image_produit">
									{% else %}
										<img src="{{asset('./img/profil/photo_profil.jpg')}}" class="image_produit">
									{% endif %}
								</div>

								<div class="col-md-9 offset-md-1">
									<h3>
										{{annonce.titre}}
									</h3>
									<h4>
										{{ annonce.prix }}
										€
									</h4>
									<p class="text-justify text-center text-md-left">

										{{ annonce.texteannonce | slice(0, 50) }}
										...

									</p>
									<a href=" {{ path('produit', {'id': annonce.id} ) }}">

										<button class="btn-rose btn btn-primary" name="bouton voir produit" type="button">
											Voir le produit
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
					<br>
				{% endfor %}
			</div>
			<br>
		</div>
		<br>
	</div>
	<br>
	<nav class="pagination justify-content-center">
		{{ knp_pagination_render(annonces) }}
	</nav>
{% endblock %}
