{% extends "layout.html.twig" %}
{% block titre_page %}
	Axolit - Mes annonces
{% endblock %}

{% block link_css %}
	<link href="./css/mes_annonces.css" rel="stylesheet">
{% endblock %}

{% block accueil %}
	class="btn btn-rose "
{% endblock %}
{% block vendre %}
	class="btn btn-rose "
{% endblock %}
{% block acheter %}
	class="btn btn-rose "
{% endblock %}
{% block reparer %}
	class="btn btn-rose "
{% endblock %}
{% block contenu %}

	<div class="container">
		<div class="row sous-categorie">

			<div class="col-md-9 offset-md-1">
				<h1>
					Liste de mes annonces
				</h1>
				<br>
				<p>
					Vous pouvez déposer une annonce.
				</p>
				<a href="{{path('annonce')}}">
					<button class="btn-rose btn btn-primary" name="bouton poster annonce" type="button" style="margin-bottom: 25px;">
						Poster une annonce
					</button>
				</a>
				<br>
				{% for mon_annonce in mes_annonces %}
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-md-2">
									{% if mon_annonce.photoannonces.first != null %}
										<img src="{{ mon_annonce.photoannonces.first }}" class="image_produit">

									{% else %}
										<img src="{{asset('./img/profil/photo_profil.jpg')}}" class="image_produit">
									{% endif %}
								</div>

								<div class="col-md-9 offset-md-1">
									<h3>
										{{ mon_annonce.titre }}
									</h3>
									<h4>
										{{mon_annonce.prix}}
									</h4>
									<p class="text-justify">
										{{mon_annonce.texteannonce}}
									</p>
									<a href="{{ path('produit', {'id': mon_annonce.id} ) }}">
										<button class="btn-rose btn btn-primary" name="bouton voir produit" type="button">
											Voir le produit
										</button>
									</a>
									<a href="#">
										<button class="btn btn-light" name="modifier annonce" type="button">
											Modifier l'annonce
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
					<br>
				{% endfor %}


			</div>
		</div>
	</div>
	<br>
	<div class="justify-content-center">
		{{ knp_pagination_render(mes_annonces) }}
	</div>


{% endblock %}
